<section *ngIf="sumula.id">
    <div [ngClass]="(versaoImpressao)?'campo_cadastro_visualizacao_impressao':'campo_cadastro_visualizacao'">
        <p class="texto_titulo_cadastro">
            Dados da Partida
        </p>    
        
        <div class="form-group">
            <div class="form-group col-md-12">
                <h3>
                    {{sumula.clubeMandante.nome}} {{sumula.placarMandante}} x {{sumula.placarVisitante}} {{sumula.clubeVisitante.nome}}                
                </h3>
            </div>

            <div class="form-group row">  
                <div class="col-sm-6">
                    <label class="control-label">Data e Hora da Partida:</label>
                    <p>{{dataString}} - {{horaString}}</p>
                </div>    
                <div class="col-sm-6">
                    <label class="control-label">Local da Partida</label>
                    <p>{{sumula.local}} - {{endereco.localidade}}/{{endereco.uf}}</p>
                </div>          
            </div>
        </div>
    </div>

    <div [ngClass]="(versaoImpressao)?'campo_cadastro_visualizacao_impressao':'campo_cadastro_visualizacao'">
        <p class="texto_titulo_cadastro">
            Cronologia
        </p>

        <div class="form-group">
            <div class="form-group row">           
                <div class="col-sm-3">
                    <label class="control-label">Entrada Mandante</label>
                    <p>{{sumula.cronologia.entradaMandante}}</p>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Entrada Visitante</label>
                    <p>{{sumula.cronologia.entradaVisitante}}</p>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Início da Partida</label>
                    <p>{{sumula.cronologia.inicioPartida}}</p>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Fim do Primeiro Tempo</label>
                    <p>{{sumula.cronologia.fimPrimeiroTempo}}</p>
                </div>
            </div>

            <div class="form-group row">           
                <div class="col-sm-3">
                    <label class="control-label">Retorno Mandante</label>
                    <p>{{sumula.cronologia.retornoMandante}}</p>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Retorno Visitante</label>
                    <p>{{sumula.cronologia.retornoVisitante}}</p>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Início do Segundo Tempo</label>
                    <p>{{sumula.cronologia.reinicioParida}}</p>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">Fim da Partida</label>
                    <p>{{sumula.cronologia.fimSegundoTempo}}</p>
                </div>
            </div>
        </div>
    </div>

    <div [ngClass]="(versaoImpressao)?'campo_cadastro_visualizacao_impressao':'campo_cadastro_visualizacao'">
        <p class="texto_titulo_cadastro">
            Arbitragem
        </p>    
        
        <div class="form-group">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="control-label">Árbitro</label>
                    <p>{{sumula.arbitro.nome}}</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="control-label">Assistente 1</label>
                    <p>{{sumula.assistente1.nome}}</p>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label class="control-label">Árbitro</label>
                    <p>{{sumula.assistente2.nome}}</p>
                </div>
            </div>
        </div>
    </div>

    <div [ngClass]="(versaoImpressao)?'campo_cadastro_visualizacao_impressao':'campo_cadastro_visualizacao'">
        <p class="texto_titulo_cadastro">
            Escalação Equipe Mandante
        </p> 

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Número</th>
                        <th scope="col">Atleta</th>
                        <th scope="col">T/R</th>
                        <th scope="col">Gols</th>
                        <th scope="col">Cartões</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let relacao of relacoesMandante">                           
                        <td>{{relacao.numero}}</td>
                        <td>{{relacao.atleta.nome}}</td>
                        <td>{{relacao.titular}}</td>
                        <td>{{relacao.gol}}</td>
                        <td>{{relacao.cartoes}}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div [ngClass]="(versaoImpressao)?'campo_cadastro_visualizacao_impressao':'campo_cadastro_visualizacao'">
        <p class="texto_titulo_cadastro">
            Escalação Equipe Visitante
        </p> 

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Número</th>
                        <th scope="col">Atleta</th>
                        <th scope="col">T/R</th>
                        <th scope="col">Gols</th>
                        <th scope="col">Cartões</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let relacao of relacoesVisitante">                           
                        <td>{{relacao.numero}}</td>
                        <td>{{relacao.atleta.nome}}</td>
                        <td>{{relacao.titular}}</td>
                        <td>{{relacao.gol}}</td>
                        <td>{{relacao.cartoes}}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div [ngClass]="(versaoImpressao)?'campo_cadastro_visualizacao_impressao':'campo_cadastro_visualizacao'">
        <p class="texto_titulo_cadastro">
            Substituições Equipe Mandante
        </p> 

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Período</th>
                        <th scope="col">Tempo</th>
                        <th scope="col">Entrou</th>
                        <th scope="col">Saiu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let subs of sumula.substituicoesMandante">                           
                        <td>{{subs.periodo}}</td>
                        <td>{{subs.tempo}}</td>
                        <td>{{subs.entra}}</td>
                        <td>{{subs.sai}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div [ngClass]="(versaoImpressao)?'campo_cadastro_visualizacao_impressao':'campo_cadastro_visualizacao'">
        <p class="texto_titulo_cadastro">
            Substituições Equipe Visitante
        </p> 

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Período</th>
                        <th scope="col">Tempo</th>
                        <th scope="col">Entrou</th>
                        <th scope="col">Saiu</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let subs of sumula.substituicoesVisitante">                           
                        <td>{{subs.periodo}}</td>
                        <td>{{subs.tempo}}</td>
                        <td>{{subs.entra}}</td>
                        <td>{{subs.sai}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div [ngClass]="(versaoImpressao)?'campo_cadastro_visualizacao_impressao':'campo_cadastro_visualizacao'">
        <p class="texto_titulo_cadastro">
            Comissão Técnica Equipe Mandante
        </p>
        <div class="form-group">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="control-label">Técnico</label>
                    <p>{{sumula.comissaoMandante.tecnico}}</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="control-label">Áuxiliar Técnico</label>
                    <p>{{sumula.comissaoMandante.auxTecnico}}</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="control-label">Preparador de Goleiro</label>
                    <p>{{sumula.comissaoMandante.prepGoleiro}}</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="control-label">Médico</label>
                    <p>{{sumula.comissaoMandante.medico}}</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="control-label">Massagista</label>
                    <p>{{sumula.comissaoMandante.massagista}}</p>
                </div>
            </div>
        </div>
    </div>

    <div [ngClass]="(versaoImpressao)?'campo_cadastro_visualizacao_impressao':'campo_cadastro_visualizacao'">
        <p class="texto_titulo_cadastro">
            Comissão Técnica Equipe Visitante
        </p>
        <div class="form-group">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="control-label">Técnico</label>
                    <p>{{sumula.comissaoVisitante.tecnico}}</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="control-label">Áuxiliar Técnico</label>
                    <p>{{sumula.comissaoVisitante.auxTecnico}}</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="control-label">Preparador de Goleiro</label>
                    <p>{{sumula.comissaoVisitante.prepGoleiro}}</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="control-label">Médico</label>
                    <p>{{sumula.comissaoVisitante.medico}}</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="form-group row">
                <div class="col-sm-12">
                    <label class="control-label">Massagista</label>
                    <p>{{sumula.comissaoVisitante.massagista}}</p>
                </div>
            </div>
        </div>
    </div>

    <div [ngClass]="(versaoImpressao)?'campo_cadastro_visualizacao_impressao':'campo_cadastro_visualizacao'">
        <p class="texto_titulo_cadastro">
            Relatórios
        </p>    
        
        <div class="form-group">

            <div class="form-group col-md-12">
                <label class="control-label">Relatório Expulsões</label>
            </div>

            <div class="form-group col-md-12">
                <div [ngClass]="(versaoImpressao)?'campo_cadastro_visualizacao_impressao':'campo_cadastro_visualizacao'">
                    {{sumula.relatorioExpulsoes}}
                </div>
            </div>

            <div class="form-group col-md-12">
                <label class="control-label">Relatório Observações</label>
            </div>

            <div class="form-group col-md-12">
                <div [ngClass]="(versaoImpressao)?'campo_cadastro_visualizacao_impressao':'campo_cadastro_visualizacao'">
                    {{sumula.relatorioObservacoes}}
                </div>
            </div>
        </div>

        <p>
            <button class="btn btn-primary" type="button" *ngIf="!versaoImpressao" (click)="trocaVersao()">Versão para Impressão</button> 
        </p>
        <p>
            <button class="btn btn-primary" type="button" *ngIf="versaoImpressao" (click)="trocaVersao()">Versão Normal</button> 
        </p>
        <p>
            <a class="btn btn-danger" *ngIf="!versaoImpressao" routerLink="/sumula">Voltar</a>
        </p>
    </div>         
</section>
