.ng-invalid.ng-touched:not(form)
{
    border-left: 5px solid red;
}

.ng-valid[required], .ng-valid.required  
{
    border-left: 5px solid green 
}

.titulo_site
{
    margin-left: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: white;
    padding-left: 10px;
}

.header_nav
{
    text-align: start;
}

.img_logo
{
    max-width: 180px;
}

.img_login
{
    max-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.texto_botao_sair
{
    color: red;
}

.texto_titulo_tabela
{
    color: green;
    font-weight: bold;
}

.texto_titulo_cadastro
{
    color: blue;
    font-weight: bold;
}

.campo_senha
{
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    width: 80%;
    border: 4px solid green;
    border-radius: 20px;
}

.campo_procura
{
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    border: 4px solid green;
    border-radius: 20px;
}

.campo_tabela
{
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    border: 4px solid green;
    border-radius: 20px;
}

.campo_cadastro
{
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    border: 4px solid green;
    border-radius: 20px;
}

.login
{
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: auto;
    max-width: 500px;
    border: 4px solid green;
    border-radius: 20px;
}

.subcampo_cadastro
{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid green;
    border-radius: 15px;
}

.titulos_sumula
{
    padding-bottom: 10px;
    color: darkgreen;
    font-weight: bold;
}

.escalacoes
{
    width: 100%;
}

.escalacoes_num
{
    width: 2%;
}

.escalacoes_gols
{
    width: 18%;
}


.escalacoes_nome
{
    min-width: 40%;
}

.botao_detro_tabela
{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right:  15px;
}

.relatorios
{
    padding-top: 10px;
    padding-bottom: 20px;
}

.altura_relatorios
{
    height: 200px;
}


footer
{
    margin-top: 50px; 
    padding-top: 25px;
    height: 50px;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: end;
}